# Alias

# Brew
alias ibrew='arch -x86_64 /usr/local/bin/brew'
alias mbrew='arch -arm64e /opt/homebrew/bin/brew'
ARCH=$(uname -m)
OS=$(uname -s)

if [[ "$OS" == "Darwin" && "$ARCH" == "arm64" ]]; then
  alias brew='mbrew'
fi

# Refreshments
alias reload="exec zsh && echo 'ZSH config reloaded from ~/.zshrc'"
alias ez="vim ~/.config/zsh/.zshrc && reload"
alias ev="vim ~/.vim/vimrc"
alias ea="vim ~/.config/zsh/.aliases && reload"
alias ef="vim ~/.config/zsh/functions/global && reload"
alias ep="vim ~/.config/zsh/.zprofile && reload"
alias eg="vim ~/.gitconfig && reload"

# Helpers
alias copyuuid="uuidgen | tr -d '\n' | pbcopy; pbpaste"
alias toupper="tr '[:lower:]' '[:upper:]'"
alias tolower="tr '[:upper:]' '[:lower:]'"
alias isodate='date "+%Y-%m-%dT%H:%M:%S"'
alias onedrive='rclone --vfs-cache-mode full mount --daemon onedrive: ~/OneDrive'

# apps
alias python="python3"
alias pari="/usr/bin/gp"
alias bootwin="~/Desktop/reboot-windows.sh"
